body {
    background-color: bisque;
    color: black;
    font-weight: bolder;
    overflow: hidden;
}

em {
    padding: 0;
    margin: 0;
    font-size: 4em;
    width: 1em;
    border: none;
}
    
tr {
    display: flex;
}


/* em:hover {
    background-color: white;

}

.chess-btn:hover {
    background-color: purple;
} */

td:hover {
    z-index: 999;
    background-color: white;
}

button {
    padding: 0;
    margin: 0;
    width: 5em;
    height: 5em;
}

/* img:hover {
    background-color: pink;
} */